* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("https://www.shutterstock.com/image-photo/clouds-sky-seen-through-window-600nw-146314307.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover; /* Cover the entire element with the background image */
  background-attachment: fixed;
  font-family: "Kanit", sans-serif;
}
#header {
  background-color: rgb(184, 188, 190);
  width: 100%;
  color: rgb(37, 37, 46);
  margin-top: -25px;
  margin-left: -8px;
  margin-bottom: 10px;
  position: sticky;
  top: 0px;
  color: black;
}
h2 {
  padding-top: 10px;
}
#welcome {
  font-size: 30px;
  font-weight: bold;
}
a {
  text-decoration: none;
  margin: 20px;
  padding: 3px;
}
ul {
  padding: 5px 0px;
}
a:hover {
  color: brown;
}
li {
  display: inline-block;
}
.align {
  text-align: center;
}
#discover {
  margin: 200px auto;
}
#p2 {
  font-size: 60px;
  font-weight: 600;
}
#p3 {
  margin-top: -20px;
  font-size: 25px;
}
#learnmore {
  color: black;
  font-size: 20px;
  background-color: white;
  border-radius: 20px;
  width: 150px;
  height: 50px;
}
#p4 {
  font-size: 40px;
  font-weight: bold;
  color: rgb(9, 1, 16);
}
.featured {
  margin-top: -100px;
}
img {
  width: 100%;
  height: auto;
}
.city {
  text-align: center;
  background-color: white;
  border: 20px solid white;
  display: inline-block;
  width: 350px;
  padding-top: 20px;
  border-radius: 10px;
  margin-right: 20px;
}
.p5 {
  font-size: 25px;
  font-weight: bold;
}
.Sub-scribe {
  background-color: rgb(20, 154, 244);
  width: 100%;
  color: white;
}
#p6 {
  font-size: 45px;
}
#p7 {
padding: 5px;
}
#placeholder {
  width: 450px;
}
#subscribe {
  color: white;
  background-color: black;
  margin-left: 0px;
}
.box {
  border-radius: 5px;
  padding-bottom: 30px;
}
